button {
    background-color: #cbd5db;
    border: #cbd5db solid ;
    
    padding: 10px 10px 10px ;
}
#token{
   border-radius: 1rem;
   border: #cbd5db solid ;
   margin-right: 110px;
   padding: 10px 10px 10px ;
}
#date {
    background-color:#cbd5db;
    border-radius : 1rem;
}
th ,td{
    padding : 20px 30px 10px 20px ;
}
.tabi {
    background-color:#cbd5db; 
    border:2px solid #cbd5db ;
    border-radius: 1rem;
}
#create {
    padding-left: 100px;
}
#inpFile , #date , #submit, .tabi{
    margin-bottom: 10px;
}
#start-date,#end-date,#from,#to {
    margin: 10px 10px 10px 10px ;
}
#table2 {
    margin-bottom: 20rem;
}
.model {
    position: fixed;
    top: 50% ;
    left: 50% ;
    transform:translate(-50%,-50%) scale(0) ;
    transition: 200ms ease-in-out;
    border: 1px solid blue;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 600px;
    height: 400px;
    max-width: 100%;
}
.model.active {
    transform:translate(-50%,-50%) scale(1) ;
}
.model-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.model-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}
.model-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}#overlay.active {
    opacity: 1;
    pointer-events: all;
}
#center {
    margin-left: 20rem ;
}

