{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style_home.css' %}">
<div id="bodyHome" onload="swaly">
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    <img src="{% static 'images/git.png'%}" alt="Git_Github" width="700" height="500">

</div>  
    <script defer src="{% static 'js/scriptHomejs' %}"></script>
    
   

{% endblock content %}